@import '../../sass/theme.scss';
.card {
  background: $primary-black;
  height: 42rem;
  width: 33.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 40%);
  grid-row-gap: 3rem;
  grid-column-gap: 3rem;
  padding: 2rem;
  margin: 2rem;
  border-radius: 2rem;
  @media only screen and (max-width: 36.5em) {
    // width: 40%;
    // height: 40rem;
    width: 55%;
    height: 55rem;
  }
  @media only screen and (max-width: 26em) {
    width: 90%;
    height: 45rem;
  }
  @media only screen and (min-width: 112.5em) {
    height: 60rem;
    width: 25%;
  }
  &_item {
    background: $secondary-purple;
    border-radius: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &-img {
      height: 82.25%;
      width: 100%;
      border-radius: 1.5rem 1.5rem 0 0;
    }
    &-name {
      padding: 0.5rem 0;
      color: white;
      font-size: 1.5rem;
      font-family: 'Cabin', sans-serif;
      text-transform: capitalize;
    }
  }
  &_title {
    width: 100%;
    display: flex;
    grid-column: 1/3;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 1rem;
    text-decoration: none;
    transform: translateY(-1.5rem);
    @media only screen and (max-width: 26em) {
      transform: translateY(-1rem);
    }
    @media only screen and (max-width: 36.5em) {
      transform: translateY(-0.8rem);
    }
    &-name {
      color: black;
      font-size: 1.8rem;
      font-weight: 600;
      margin-left: 1rem;
      font-family: 'Montserrat', sans-serif;
    }
    &-btn {
      color: black;
      font-size: 3rem;
      margin-right: 1rem;
      text-decoration: none;
    }
  }
}
