.dev {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #330d49 0%,
    rgba(110, 94, 119, 0.52) 100%
  );
  &-cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  &-item {
    width: 55rem;
    display: flex;
    align-items: flex-end;
    // background-color: red;
    height: 25rem;
    margin: 2rem 0;
    @media only screen and (max-width: 372px) {
      width: 48rem;
    }
    // margin: 1rem;
    &-img {
      &-1 {
        height: 30rem;
        width: 25rem;
        z-index: 1;
      }
      &-3 {
        height: 35rem;
        width: 25rem;
        z-index: 1;
        transform: translateX(3rem);
      }
      &-2 {
        height: 23rem;
        width: 20rem;
        z-index: 1;
        transform: translateX(3.5rem);
      }
    }
    &-right {
      background: #e4e4e4;
      width: 45rem;
      height: 18rem;
      transform: translateX(-5rem);
      z-index: 0;
      border-radius: 3rem;
      position: relative;
      &-name {
        position: absolute;
        right: 4rem;
        top: 1rem;
        font-family: "Cabin", sans-serif;
        font-size: 3rem;
        font-weight: 600;
        border-bottom: 1px solid rgba(0, 0, 0, 0.493);
        padding-left: 3rem;
      }
      &-nav {
        position: absolute;
        bottom: 2rem;
        right: 4em;
        &-item {
          margin: 0 1rem;
          &-icon {
            height: 2rem;
            width: 2rem;
          }
        }
      }
    }
  }
}
