.confirmation {
  background: linear-gradient(180deg, #000000 -3.48%, #2E2E2E -3.47%, rgba(109, 43, 148, 0.81) 20.54%, rgba(109, 43, 148, 0.81) 78.21%, #000000 99.03%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  overflow: hidden;

  &-success {
    padding: 0.5rem 0;

    & > img {
      height: 13rem;
      width: 13rem;
    }
  }

  &-content {
    background: rgba(237, 237, 237, 0.37);
    border-radius: 2rem 2rem 0px 0px;
    width: 117rem;
    height: 80rem;
    
    @media only screen and (max-width: 1200px) {
      width: 100rem;
    }
    
    @media only screen and (max-width: 800px) {
      width: 85rem;
    }
    
    @media only screen and (max-width: 700px) {
      width: 75rem;
    }
    
    @media only screen and (max-width: 580px) {
      width: 60rem;
    }
    
    @media only screen and (max-width: 450px) {
      width: 50rem;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__container {
      padding: 4rem 0 1rem 6rem;
      
      @media only screen and (min-width: 450px) and (max-width: 600px) {
        padding: 0 0 1rem 4rem;
      }
      
      &-order {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 3rem;
        color: #FFFFFF;

        & > span {
          font-weight: 800;
        }
      }
    }
  }
}

.animation {
  padding-top: 1rem;
}

.vehicle {
  position: relative;
  left: 50%;

  @media only screen and (max-width: 585px) {
    left: 25%;
  }
  
  @media only screen and (max-width: 650px) {
    left: 35%;
  }
  

  .truck {
    width: 315.06px;
    
    @media only screen and (max-width: 1200px) {
      width: 250px;
    }
    
    @media only screen and (max-width: 800px) {
      width: 200px;
    }
  }
  
}

.tech-slideshow {
  height: 5rem;
  position: relative;
  overflow: hidden;
  background: black;
  transform: translateY(-5rem);
  z-index: 0;
}

.mover-1 {
  width: 10000rem;
  
  position: absolute;
  overflow-x: hidden;
  top: 0;
  left: 0;

  animation: moveSlideshow 3s linear infinite;
}

.line {
  display: inline-block;
  vertical-align: middle;
  width: 10rem;
  margin: 3rem;

  transform: translateY(-1rem);
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-520px);  
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1750px) {
  @keyframes rotation1 {
    100% {
      transform: translate(5.75rem, -3rem) rotate(360deg);
    }
  }
  
  @keyframes rotation2 {
    100% {
      transform: translate(16.5rem, -3rem) rotate(360deg);
    }
  }
}

@media only screen and (max-width: 1200px) {
  @keyframes rotation1 {
    100% {
      transform: translate(5.3rem, -3rem) rotate(360deg);
    }
  }
  
  @keyframes rotation2 {
    100% {
      transform: translate(15rem, -3rem) rotate(360deg);
    }
  }
}

@media only screen and (min-width: 801px) and (max-width: 900px) {
  @keyframes rotation1 {
    100% {
      transform: translate(6rem, -3rem) rotate(360deg);
    }
  }
  
  @keyframes rotation2 {
    100% {
      transform: translate(17rem, -3rem) rotate(360deg);
    }
  }
}

@media only screen and (max-width: 800px) {
  @keyframes rotation1 {
    100% {
      transform: translate(4.75rem, -3rem) rotate(360deg);
    }
  }
  
  @keyframes rotation2 {
    100% {
      transform: translate(13rem, -3rem) rotate(360deg);
    }
  }
}

@media only screen and (max-width: 585px) {
  @keyframes rotation1 {
    100% {
      transform: translate(5rem, -3rem) rotate(360deg);
    }
  }
  
  @keyframes rotation2 {
    100% {
      transform: translate(14.5rem, -3rem) rotate(360deg);
    }
  }
}

.tire {
  z-index: 1;
  position: relative;
  
  @media only screen and (max-width: 1200px) {
    width: 35px;
  }
  
  @media only screen and (max-width: 800px) {
    width: 30px;
  }
  
  &:first-child {
    -moz-animation:rotation1 1s linear infinite;
    animation:rotation1 1s linear infinite;
    -webkit-animation:rotation1 1s linear infinite;
    
    @media only screen and (min-width: 1200px) and (max-width: 1750px) {
      transform: translate(5.75rem, -3rem);
    }
    
    @media only screen and (max-width: 1200px) {
      transform: translate(5.3rem, -3rem);
    }

    @media only screen and (min-width: 801px) and (max-width: 900px) {
      transform: translate(6rem, -3rem);
    }
    
    @media only screen and (max-width: 800px) {
      transform: translate(4.75rem, -3rem);
    }

    @media only screen and (max-width: 585px) {
      transform: translate(5rem, -3rem);
    }
  }
  
  &:last-child {
    -moz-animation:rotation2 1s linear infinite;
    animation:rotation2 1s linear infinite;
    -webkit-animation:rotation2 1s linear infinite;
    
    @media only screen and (min-width: 1200px) and (max-width: 1750px) {
      transform: translate(16.5rem, -3rem);
    }
    
    @media only screen and (max-width: 1200px) {
      transform: translate(15rem, -3rem);
    }
    
    @media only screen and (min-width: 801px) and (max-width: 900px) {
      transform: translate(17rem, -3rem);
    }
    
    @media only screen and (max-width: 800px) {
      transform: translate(13rem, -3rem);
    }
    
    @media only screen and (max-width: 585px) {
      transform: translate(14.5rem, -3rem);
    }
    
  }
}
