.confirmation {
  background: linear-gradient(180deg, #000000 -3.48%, #2E2E2E -3.47%, rgba(109, 43, 148, 0.81) 20.54%, rgba(109, 43, 148, 0.81) 78.21%, #000000 99.03%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  overflow-y: hidden;

  &-success {
    padding: 1rem 0;

    & > img {
      height: 13rem;
      width: 13rem;
    }
  }

  &-content {
    background: rgba(237, 237, 237, 0.37);
    border-radius: 2rem 2rem 0px 0px;
    width: 117rem;
    height: 80rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__container {
      padding: 4rem 0 1rem 6rem;
      
      &-order {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 3rem;
        color: #FFFFFF;

        & > span {
          font-weight: 800;
        }
      }
    }
  }
}

.animation {
  padding-top: 2.1rem;
}

.vehicle {
  position: relative;
  left: 50%;

  .truck {
    width: 315.06px;
    height: 189.42px;
  }
  
}

.tech-slideshow {
  height: 5rem;
  position: relative;
  overflow: hidden;
  background: black;
  transform: translateY(-5rem);
  z-index: 0;
}

.mover-1 {
  width: 1000rem;
  
  position: absolute;
  overflow-x: hidden;
  top: 0;
  left: 0;

  animation: moveSlideshow 3s linear infinite;
}

.line {
  display: inline-block;
  vertical-align: middle;
  width: 10rem;
  margin: 3rem;

  transform: translateY(-1rem);
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-520px);  
  }
}

@keyframes rotation1 {
  100% {
    transform: translate(6.25rem, -3.5rem) rotate(360deg);
  }
}
@keyframes rotation2 {
  100% {
    transform: translate(16rem, -3.5rem) rotate(360deg);
  }
}

.tire {
  z-index: 1;
  position: relative;
  
  &:first-child {
    transform: translate(6.25rem, -3.5rem);
    -moz-animation:rotation1 1s linear infinite;
    animation:rotation1 1s linear infinite;
    -webkit-animation:rotation1 1s linear infinite;
  }
  
  &:last-child {
    transform: translate(16rem, -3.5rem);
    -moz-animation:rotation2 1s linear infinite;
    animation:rotation2 1s linear infinite;
    -webkit-animation:rotation2 1s linear infinite;
  }
}
