//* PRIMARY COLORS
$primary-blue: #A4EBF3;
$primary-black: #282828;
$primary-white: #FCFCFC;

//* SECONDARY COLORS
$secondary-blue: #CCF2F4;
$secondary-black: #8B8B8B;

//* TERITIARY COLORS
/// ERROR
$red: #FF2121;

/// SUCCESS
$green: #1FC24E;

/// WARNING
$yellow: #FEC600;

/// PENDING
$orange: #F17F22;