//* PRIMARY COLORS
$primary-purple: #581e7a;
// $primary-purple: #ff6107;
$primary-black: #010202;
$primary-white: #fcfcfc;

//* SECONDARY COLORS
$secondary-purple: #7a29a8;
$secondary-black: #8b8b8b;

//* TERITIARY COLORS
/// ERROR
$red: #ff2121;

/// SUCCESS
$green: #1fc24e;

/// WARNING
$yellow: #fec600;

/// PENDING
$orange: #f17f22;
